#------------------------------------------------------------------------------
# .gitignore file contains patterns of files and directories ignored by git
# 
# see: https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# example: https://github.com/github/gitignore/blob/master/Java.gitignore
#------------------------------------------------------------------------------

# ignore other archive files
*.7z
*.gz
*.rar
*.tar
*.tar.gz
*.zip

# ignore folders with branches
/branch
/branches

# ignore log directories and *.log files
**/logs     # matches: logs/debug.log, build/logs/debug.log
**/log
*.log       # matches files *.log in any directory

# ignore tmp directories and *.tmp files
**/tmp
**/temp
*.tmp

# ignore images and markup directories
**/img
**/markup

# ignore OSX system files
.DS_Store
